<div class="">

<div class="">
    <%= form_with model: article do |form| %>
      <div>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
        <% article.errors.full_messages_for(:title).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <div>
        <%= form.label :body %><br>
        <%= form.text_area :body %><br>
        <% article.errors.full_messages_for(:body).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

    <div>
        <%= form.label :author %><br>
        <%= form.text_field :author %>
        <% article.errors.full_messages_for(:author).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <div class="pt-10">
        <button class="btn btn-primary"> <%= form.submit %> </button>
      </div>
    <% end %>
  </div>

</div>